---
import BaseLayout from '../layouts/BaseLayout.astro';
import Changelog from '../../content/changelog.mdx';
---

<BaseLayout title="Changelog" description="Release history">
  <article class="changelog">
    <h1>Changelog</h1>
    <Changelog />
  </article>
</BaseLayout>
